<div class="copyright">
  <span>
    Un service expérimental proposé par le <a href="http://www.hauts-de-seine.fr/">Conseil Départemental des Hauts-de-Seine</a>.
  </span>
  <span class="division">|</span>
  <span class="power-by">
    Plate-forme <a href="https://franceconnect.gouv.fr">FranceConnect</a>.
  </span>
  <span class="division">|</span>
  <span class="power-by">
    Logiciel <a class="hexo-link" href="https://gohugo.io">Hugo</a>
  </span>
  <span class="division">|</span>
  <span class="theme-info">
    Thème - <a class="theme-link" href="https://github.com/xianmin/hugo-theme-jane">Jane</a>
  </span>

  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      {{/* icon heart */}}
      <i class="iconfont">
        {{ partial "svg/heart.svg" }}
      </i>
    </span>
    {{- if or .Site.Copyright .Site.Author.name -}}
      <span class="author">
        {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}
        {{ else }}{{ .Site.Author.name | safeHTML }}
        {{ end }}
      </span>
    {{- end -}}
  </span>

  <span class="license">Contenu sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a></span>
  <span class="division">|</span>
  <span class="license">Logiciel sous licence <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">GNU Affero 3.0</a></span>

  <!-- Counter busuanzi -->
  {{ if .Site.Params.counter.busuanzi.enable }}
    <span id="busuanzi_container">
      访客数/访问量：<span id="busuanzi_value_site_uv"></span>/<span id="busuanzi_value_site_pv"></span>
    </span>
  {{ end }}

  {{ if .Site.Params.customFooter }}
    <span>
      {{ .Site.Params.customFooter }}
    </span>
  {{ end }}
</div>

<div class="social-links">
  {{ partial "social_links.html" . }}
</div>

